html,
body {
	height: 100%;
}

body {
	background: $primary-color;
	display: flex;
	flex-direction: column;
}

footer {
	min-height: 60px;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
	background: $secondary-color;
	flex-wrap: wrap;
}
footer a {
	color: $black;
}

.wrapper {
	flex: 1 0 auto;
}
